<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        pre {
            white-space: pre-wrap !important;
            word-wrap: break-word !important;
            *white-space: normal !important;
        }
    </style>

</head>
<body>
<!--某一篇具体的文章 传入的为article对象-->
{% include 'header.html' %}

<div class="container">
    <br><br>
    <h1 style="text-align: center">{{ article.title }}</h1><br><br>
    <pre>{{ article.body|safe }}</pre>
    <hr>


</div>

<div class="container">
    {% for commentss in article.comments %}

        <div class="card bg-secondary text-white">
            <div class="card-body">{{ Tool.email_display_filter(commentss.author.mail) }} :<br>{{ commentss.body }}<br>{{ commentss.time.strftime("%Y-%m-%d %H:%M") }}
            </div>
        </div><br>
    {% endfor %}


    <div class="container">
    <h2>Post</h2>
    <form name ='commenting' id='commenting'method="POST" action="{{ url_for('commenting')}}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="author" placeholder="Enter email" name="author">
        </div>
        <input type="hidden" name="articleids" id="articleids" value={{ article.id }} >
        <textarea placeholder="comment" id="comment" name="comment"></textarea><br>
        <select multiple id="liked" name="liked">
            <option value="1">Like</option>
            <option value="2">Dislike</option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>

        {{ error }}
    </form>
    </div>
</div>
<br><br>
<br><br>
</body>
  <footer class="blog-footer">

      <p>
        <a href="/">Back to Index</a>
      </p>
    </footer>
</html>
