<!DOCTYPE html>
<html lang="en">
<head>
    <title>Post</title>

    {% include 'base.html' %}

</head>
<body>

    {% include 'header.html' %}


<div class="container">
    <h2>Post</h2>
    <form name ='addposting' id='addposting'method="POST" action="{{ url_for('addposting') }}" enctype="multipart/form-data">
        {{ addposting.csrf_token }}
        <div class="form-group">
            <label for="email">Email:</label>
            <ul>{{ addposting.author }}</ul>
            <ul>
            {% for error in addposting.author.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>

        </div>
        <div class="form-group">
            <label>Subject</label>
            <ul>{{ addposting.subject }}</ul>
            <ul>
            {% for error in addposting.subject.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            <label>Title</label>
            <ul>{{ addposting.title }}</ul>
            {% for error in addposting.title.errors %}
            <ul>
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            <label>Article</label>
            <ul>{{ addposting.body }}</ul>
            <ul>
            {% for error in addposting.body.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>
        </div>

        <label>upload</label>
        <input type="file" name="file" accept="application/pdf">





        <button type="submit" class="btn btn-primary">Submit</button>

        {{ error }}
    </form>
</div>
</body>


</html>